@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles/globals.css */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@300;400;600;700&display=swap');

.font{
  font-family: 'IBM Plex Sans Arabic', sans-serif !important;
  /* أي أنماط أخرى تريدها للخط */
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}



body {
  color: rgb(var(--foreground-rgb));
  font-family: 'Almarai', sans-serif;
font-family: 'DM Serif Display', serif;
font-family: 'IBM Plex Sans Arabic', sans-serif;
font-family: 'Merriweather', serif;
font-family: 'Playfair Display', serif;
}
.first-main{
  background-image: url(../public/shape_02.png);
  background-repeat: no-repeat;
}
.second-main{
  background-image: url(../public/shape_01.png);
  background-size: cover;
}
li{
  list-style: auto;
}

.img{
  background-image: url(../public/icon_shape.png);
  background-repeat: no-repeat;
  background-position: center;
}
ul{
  background-image: url(../public/shape_01.png);
  background-size: cover;
  
}
h1{
  font-size: 30px;
  font-weight: bold !important;
  
  color: hsla(0, 0%, 20%, 1);
}
li{
  font-size: 20px;
  font-weight: bold;
  color: rgb(92, 90, 90);
}
p{
  font-size: 20px;
  font-weight: 500;
  color: rgb(92, 90, 90);
}

.content{
background-color: #00213e;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.input{
  width: 95%;
  margin: auto;
  direction: rtl !important;
}
.input label ,.label{
  font-size: 20px;
  color: white;
 
}
.grid{
  box-shadow: 0 0 10px 10px white;
}
